@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity;
@using Data.Models;
@inject SignInManager<User> SignInManager 
@inject UserManager<User> UserManager

@if(SignInManager.IsSignedIn(User)) { 
<h1>HIIIIIIIIIIIIIII</h1>
}
@if (this.User.IsInRole("Admin"))
{
<h1>hiiiiiiiiiiiiiiiiiii</h1>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
