@model ASPFlightManager.Controllers.ReservationViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select asp-for="Reservation.Flight" class="form-control">
                <option value="">Select a flight</option>
                @foreach (var flight in Model.Flights)
                {
                    <option value="@flight.Id">@($"{flight.Id}aaaaaa")</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="Reservation.FirstName" class="control-label"></label>
                <input asp-for="Reservation.FirstName" class="form-control" />
                <span asp-validation-for="Reservation.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.SecondName" class="control-label"></label>
                <input asp-for="Reservation.SecondName" class="form-control" />
                <span asp-validation-for="Reservation.SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.LastName" class="control-label"></label>
                <input asp-for="Reservation.LastName" class="form-control" />
                <span asp-validation-for="Reservation.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Email" class="control-label"></label>
                <input asp-for="Reservation.Email" class="form-control" />
                <span asp-validation-for="Reservation.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.SSN" class="control-label"></label>
                <input asp-for="Reservation.SSN" class="form-control" />
                <span asp-validation-for="Reservation.SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.PhoneNumber" class="control-label"></label>
                <input asp-for="Reservation.PhoneNumber" class="form-control" />
                <span asp-validation-for="Reservation.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Nationality" class="control-label"></label>
                <input asp-for="Reservation.Nationality" class="form-control" />
                <span asp-validation-for="Reservation.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.TicketType" class="control-label"></label>
                <input asp-for="Reservation.TicketType" class="form-control" />
                <span asp-validation-for="Reservation.TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
